body {
  background-color: #e7e7e7;
}

#addProductForm button.cancelBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.cart-item {
  position: relative;
}

.cart-item .delete {
  position: absolute;
  top: 10px;
  right: 20px;
}


form input, select{
  margin-bottom: 1rem;
}
